
/* цвет записей у пользователей, у которых заполнены не все данные */
.missing_data {
    background-color: darkorchid;
}

/* цвет записей у пользователей, имеющих машины */
.has_car {
    background-color: cornflowerblue;
}

/* цвет записей у пользователей, у которых для машины указаны данные по умолчанию */
.default_cars {
    background-color: tomato;
}